* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: #fff;
  border: 3px solid #333;
  border-radius: 10px;
  margin: 2em auto;
  overflow: hidden;
  width: 80%;
}

body {
  background-color: #fff;
  background-image: url('../images/hex.png');
  background-position: center center;
  font-family: Tahoma, Arial;
}

/**** text options ****/
/**** text options ****/

.strongtext {
  font-size: 1.2em;
  padding-top: 2em;
  padding-bottom: 3px;
}

.smalltext {
  font-weight: 1;
  font-size: 1.2em;
}

.minitext {
  font-size: 0.7em;
  font-weight: 1;
  padding-top: 2em;
}

.paragraphs {
  font-size: 1.2em;
  font-weight: 1;
  padding-top: 1.5em;
}

/**** top left ****/
/**** top left ****/

#top-left {
  border-right-style: solid;
  border-right-width: 1px;
  box-sizing: border-box;
  float: left;
  margin: 4em 0em;
  padding: 0em 4em;
  width: 30%;
}

#photo {
  position: relative;
  transition: top ease 0.5s;
  width: 80%;
}

#photo:hover {
  top: -2px;
  right: -2px;
}

#top-left h1 {
  font-size: 2em;
  padding-top: 1em;
}

.left_hr {
  margin-top: 3em;
}

/**** top right ****/
/**** top right ****/

#top-right {
  box-sizing: border-box;
  float: right;
  margin: 2em 0em;
  padding: 0em 4em;
  width: 70%;
}

#top-right h1 {
  padding-top: 1em;
  font-size: 2em;
}

.right_hr {
  margin-top: 3em;
}

/**** languages images ****/
/**** languages images ****/

#polish {
  padding-left: 2em;
  list-style-image: url('../images/polish.png');
}

#english {
  padding-left: 2em;
  list-style-image: url('../images/english.png');
}
